<nav>
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/productos">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/servicios">Servicios</a>
        </li>
    </ul>
</nav>